@import "tailwindcss";

@font-face {
  font-family: "Linksans Linksansvf";
  src: url("/fonts/Linksans.woff2") format("woff2"),
    url("/fonts/Linksans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
